body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: slateblue;
    
}
#container{
    position: relative;
    width: 400px;
    height: 200px;
background-color: rgb(54, 54, 124);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius : 10px;
    border-bottom-right-radius: 10px;
   
    
}

#number{
    border: 3px solid white;
    border-radius: 50%;
    width:100px;
    margin: 0px 20px;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    
     font-weight: 700;
    
}

#subs{
    
    padding:10px 20px;
    border: 1px solid rgb(0, 149, 255);
    background-color:green ;
    color: white;
    font-size: 15px;
    font-weight: 700;
    transition: background-color 0.5s;
    cursor: pointer;
    border-radius: 3px;
}

#subs:hover{
    background-color: blue;
}
#add{
    padding:10px 20px;
    border: 1px solid rgb(0, 149, 255);
    background-color:green ;
    color: white;
    font-size: 15px;
    font-weight: 700;
    transition: background-color 0.5s;
    cursor: pointer;
    border-radius: 3px;
}
#add:hover{
    background-color: blue;
}

#randomNumber{
    width: 400px;
    height: 200px;
    background-color: rgb(54, 54, 124);
    margin-right: 30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


#generate{
    position: absolute;
    background-color: rgb(46, 134, 46);
    border: 2px solid white;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    transition: all  0.4s;
    top: 60%;
}

#generate:hover{
    background-color: white;
    color: rgb(46, 134, 46);
    border:3px solid rgb(46, 134, 46);
   
}

#numberdisplayer{
    width: 80px;
    height: 80px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 20;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
}
